.artem{
    flex-direction: row;
    position: relative;
    left: 900px;
    width: 1000px;
}

.anton{
    position: relative;
    bottom: 200px;
    width: 400px;
}

.artur{
    flex-direction: row;
    position: relative;
    width: 1000px;
    height: 100vh;    
    left: 500px;
    bottom: 100px;
}

.dva{
    height: 500vh;
    width: 300px;
    position: relative;
    bottom: 1000px;
}

.traktor{
    position: relative;
    right: 400px;
}

.dom{
position: relative;
left: 850px;
top: 500px;
}

.okno{
    width: 300px;
    position: relative;
    left: 1500px;
    bottom: 5950px;
}
 


